<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112204012226-c71tab36bs8ib7pn6fs02659bp1ml3rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112204012226-c71tab36bs8ib7pn6fs02659bp1ml3rj</string>
	<key>GCM_SENDER_ID</key>
	<string>112204012226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp</string>
	<key>PROJECT_ID</key>
	<string>login-signin-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>login-signin-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112204012226:ios:d9e078a91e1cc2dbd4795b</string>
	<key>DATABASE_URL</key>
	<string>https://login-signin-backend-default-rtdb.firebaseio.com</string>
</dict>
</plist>
